[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "jaivardhan.com/themes/PaperMod"]
	path = themes/PaperMod/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
